<div class="form-structor">

  <mat-card class="mat-card">
    <mat-card-title class="login-header">
      <h2>Registro de Usuario</h2>
    </mat-card-title>

    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="register()">

      <mat-card-content class="mat-card-content">

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Nombre" formControlName="firstname" name="firstname">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Apellido" formControlName="lastname" name="lastname">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Email" formControlName="email" name="email">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Telefono" type="number" formControlName="phone" name="phone">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Contraseña" [type]="hidePass ? 'password' : 'text'" formControlName="password"
            name="password">
          <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePass">
            <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="mat-card-actions">
        <button mat-raised-button="" color=primary [disabled]="!registerForm.valid">REGISTRARSE</button>
      </mat-card-actions>
    </form>

    <div class="below-link-text">Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia Sesion</a></div>

  </mat-card>

</div>
