.form-structor {
  width: 400px;
  position: relative;
  margin: 6em auto;
}



.mat-card-actions{
  text-align: center;
}

.mat-card-content{
  text-align: center;
}

.mat-form-field{
  width: 65%;
  margin: 10px 0 !important;
}

.login-header{
  color: #673ab7;
  text-align: center;
  font-size: 15px;
}

.below-link-text{
  text-align: center;
  font-size: 15px;
}
