<div class="form-structor">

  <mat-card class="mat-card">
    <mat-card-title class="login-header">
      <h2>Prueba de Desarrollo</h2>
    </mat-card-title>

    <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="login()">

      <mat-card-content class="mat-card-content">

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Ingresa tu Email" type="email" formControlName="email" name="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Ingresa la contraseña" [type]="hide ? 'password' : 'text'"
            formControlName="password" name="password">
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </a>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="mat-card-actions">
        <button mat-raised-button="" color=primary>INICIAR SESION</button>
      </mat-card-actions>

    </form>

    <div class="below-link-text">No tienes una cuenta? <a [routerLink]="['/register']">Crea una</a></div>

    <div class="below-link-text">
      <small>By: Andres Arroyo</small>
    </div>
    <div class="below-link-text" style="color: blue;">
      <small>usuario por defecto: test@mail.com pass: secret</small>
    </div>


  </mat-card>

</div>
