<div class="top-buttons">
  <button mat-raised-button color="primary" [routerLink]="['new']">
    Nueva Factura
  </button>
</div>

<mat-card-title style="text-align: center;">
  <h4>Facturas</h4>
</mat-card-title>


<mat-card-content>


  <div class="row" style="margin: 10px 20px 10px 0px;">
    <div class="col-3">
      <select class="form-control" (change)="filterCustomer($event.target.value)">
        <option value="none">--- Todos los Clientes ---</option>
        <option *ngFor="let cus of customers" value="{{cus.id}}">
          {{ cus.firstname+" "+cus.lastname }}
        </option>
      </select>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th *ngFor="let item of invoices.titles; let i = index" class="text-{{ item.pos }}" (click)="invoices.order(i)">
          {{ item.name }}
          <i *ngIf="i == invoices.order_index"
            class="material-icons text-icon">keyboard_arrow_{{ invoices.ordertype }}</i>
        </th>

        <th class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr class="common" align="center" style="height: 100px;" *ngIf="invoices.items.length == 0">
        <td colspan="8">No hay Facturas registradas</td>
      </tr>

      <tr *ngFor="let invoice of invoices.items">
        <td>{{ invoice.customer.firstname + " " + invoice.customer.lastname }}</td>
        <td>{{ invoice.created_at | date:'medium' }}</td>
        <td>{{ invoice.total | currency }}</td>

        <td>
          <select class="form-control" name="istatus" id="istatus" (change)="changeStatus($event.target.value, invoice.id)">
            <option *ngFor="let st of _sS.statusList; let i=index" value="{{i+1}}" [selected]="i === (invoice.status-1)">
              {{ st }}
            </option>
          </select>
        </td>

        <td class="td-actions text-right">
          <button mat-icon-button [routerLink]="[invoice.id]">
            <i class="material-icons">visibility</i>
          </button>

          <button mat-icon-button (click)="deleteinvoice($event, invoice)">
            <i class="material-icons">delete</i>
          </button>

        </td>
      </tr>

    </tbody>
  </table>

  <ul class="pagination align-self-end">
    <li class="page-item" *ngFor="let ln of invoices.links" (click)="ln.send()"
      [ngClass]="{'active': ln.text == invoices.current_page}">
      <a class="page-link">{{ ln.text }}</a>
    </li>
  </ul>

</mat-card-content>
