<nav class="navbar navbar-expand-lg navbar-dark" id="topnav">
  <a class="navbar-brand" href="#">Prueba de Desarrollo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLink="/dashboard" routerLinkActive="active">
        <a class="nav-link">
          <i class="material-icons text-icon">home</i> Inicio
        </a>
      </li>

      <li class="nav-item" routerLink="/customers" routerLinkActive="active">
        <a class="nav-link">
          <i class="material-icons text-icon">person</i> Clientes
        </a>
      </li>

      <li class="nav-item" routerLink="/sales" routerLinkActive="active">
        <a class="nav-link">
          <i class="material-icons text-icon">shopping_cart</i> Ventas
        </a>
      </li>
    </ul>

    <div class="my-2 my-lg-0" style="color: white;">
      <a class="nav-link" (click)="logout()">
        <i class="material-icons text-icon">exit_to_app</i> Salir
      </a>
    </div>
  </div>
</nav>
