<div class="top-buttons">
  <button mat-raised-button color="primary" [routerLink]="['new']">
    Nuevo Cliente
  </button>
</div>

<mat-card-title style="text-align: center;">
  <h4>Clientes</h4>
</mat-card-title>


<mat-card-content>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th *ngFor="let item of customers.titles; let i = index" class="text-{{ item.pos }}" (click)="customers.order(i)">
          {{ item.name }}
          <i *ngIf="i == customers.order_index"
            class="material-icons text-icon">keyboard_arrow_{{ customers.ordertype }}</i>
        </th>

        <th class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr class="common" align="center" style="height: 100px;" *ngIf="customers.items.length == 0">
        <td colspan="8">No hay Clientes registrados</td>
      </tr>

      <tr *ngFor="let customer of customers.items">
        <td>{{ customer.firstname | titlecase }}</td>
        <td>{{ customer.lastname | titlecase }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.created_at | date }}</td>
        <td class="td-actions text-right">
          <button mat-icon-button [routerLink]="[customer.id]">
            <i class="material-icons">edit</i>
          </button>
          <button mat-icon-button (click)="deleteCustomer($event, customer)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

  <ul class="pagination align-self-end">
    <li class="page-item" *ngFor="let ln of customers.links" (click)="ln.send()"
      [ngClass]="{'active': ln.text == customers.current_page}">
      <a class="page-link">{{ ln.text }}</a>
    </li>
  </ul>

</mat-card-content>
