<div class="top-buttons">
  <button mat-raised-button color="warn" routerLink="/customers" >
    <i class="material-icons big-button-icon">undo</i> Volver
  </button>
</div>

<div class="row">
  <div class="col card-section" style="height: fit-content;">
    <form [formGroup]="customerForm" autocomplete="off" novalidate>

      <div class="card-title">
        <h1 mat-dialog-title>
          Informacion de Cliente
        </h1>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstname">Nombre</label>
          <input type="text" class="form-control" id="firstname" formControlName="firstname" name="firstname">
          <small *ngIf="!valid && customerForm.controls['firstname'].invalid" class="invalid-message">
            Nombre es requerido
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Apellido</label>
          <input type="text" class="form-control" id="lastname" formControlName="lastname" name="lastname">
          <small *ngIf="!valid && customerForm.controls['lastname'].invalid" class="invalid-message">
            Apellido es requerido
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" name="email">
        <small *ngIf="!valid && customerForm.controls['email'].invalid" class="invalid-message">
          Email es requerido
        </small>
      </div>

      <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="text" class="form-control" id="phone" formControlName="phone" name="phone" [value]="customerForm.get('phone').value | phone" OnlyNumber>
        <small *ngIf="!valid && customerForm.controls['phone'].invalid" class="invalid-message">
          Telefono es requerido
        </small>
      </div>

      <div class="row justify-content-md-center">
        <button mat-raised-button (click)="saveCustomer()" class="blue-button">
          Guardar
        </button>
      </div>

    </form>
  </div>

  <div class="col card-section">
    <div class="card-title">
      <h1 mat-dialog-title>
        Direcciones del Cliente
      </h1>
    </div>

    <div class="top-buttons" style="margin-bottom: 10px;">
      <button mat-raised-button (click)="createAddress()" class="teal-button">
        Agregar Direccion
      </button>
    </div>

    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Direccion</th>
          <th>Pais</th>
          <th>Departamento</th>
          <th>Ciudad</th>

          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="common" align="center" style="height: 100px;" *ngIf="addresses.length == 0">
          <td colspan="8">No hay Clientes registrados</td>
        </tr>

        <tr *ngFor="let addr of addresses">
          <td>{{ addr.address | titlecase }}</td>
          <td>{{ addr.country | titlecase }}</td>
          <td>{{ addr.state }}</td>
          <td>{{ addr.city }}</td>

          <td class="td-actions text-right">
            <button mat-icon-button (click)="editAddress($event, addr)">
              <i class="material-icons">edit</i>
            </button>
            <button mat-icon-button (click)="deleteAddress($event, addr)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
