<div id="client-modal">
  <form [formGroup]="AddressForm" autocomplete="off" novalidate>

    <h1 mat-dialog-title>{{ !address ? 'Nueva Direccion' : 'Edicion de Direccion' }}</h1>
    <div mat-dialog-content>
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Direccion" formControlName="address" name="address">
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <textarea matInput placeholder="Descripcion" formControlName="description" name="description"></textarea>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Pais" formControlName="country" name="country">
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Departamento" formControlName="state" name="state">
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Ciudad" formControlName="city" name="city">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button (click)="onCreate()" *ngIf="!address" class="blue-button">
        Crear
      </button>

      <button mat-raised-button (click)="onUpdate()" *ngIf="address" class="blue-button">
        Actualizar
      </button>

      <button mat-raised-button color="warn" (click)="onCancel()" >
        Cancelar
      </button>
    </div>

  </form>

</div>
