/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Botones */
.blue-button{
  background-color: var(--blue);
  color: white;
}

.green-button{
  background-color: var(--green);
  color: white;
}

.teal-button{
  background-color: var(--teal);
  color: white;
}

/* cambiar el estilo de las card de angular material en todas las partes de la aplicacion */
mat-card{
  padding: 3% 2% 5% !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 8px 2px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}

/* Utiles de tarjetas */

.card-section{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  padding: 2vmin;
  margin: 10px;
  -webkit-box-shadow: 0px 4px 34px -5px rgba(176,176,176,1);
  -moz-box-shadow: 0px 4px 34px -5px rgba(176,176,176,1);
  box-shadow: 0px 4px 34px -5px rgba(176,176,176,1);
}

.card-title{
  text-align: center;
}

.top-buttons{
  margin: auto;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Utiles en general */

.text-icon{
  vertical-align: middle;
}

.invalid-message{
  color: var(--red);
}
