<div id="main-page">
  <mat-card-title>
    <h2 style="color: #673ab7">Prueba de Desarrollo - Andres Arroyo</h2>
  </mat-card-title>

  <mat-card-content>
    <p>
      Para el frontend de la prueba se uso con Angular 8
    </p>

    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <button routerLink="/customers" mat-raised-button color="accent" class="big-button">
          <i class="material-icons big-button-icon">person</i> <br> Clientes
        </button>
      </div>
      <div class="col-md-2">
        <button routerLink="/sales" mat-raised-button class="big-button" style="background-color: var(--teal);">
          <i class="material-icons big-button-icon">shopping_cart</i> <br> Ventas
        </button>
      </div>
    </div>

  </mat-card-content>
</div>
