<div class="top-buttons">
  <button mat-raised-button color="warn" routerLink="/sales" >
    <i class="material-icons big-button-icon">undo</i> Volver
  </button>
</div>

<div class="row">

  <div class="col card-section" style="height: fit-content;">
    <form [formGroup]="invoiceForm" autocomplete="off" novalidate>

      <div class="card-title">
        <h1 mat-dialog-title>
          Informacion de la Factura
        </h1>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Clientes</label>
          <select formControlName="customer" name="customer" class="form-control" name="customer" (change)="updateAddresses($event.target.value)">
            <option value="none">--- Seleccione un Cliente ---</option>
            <option *ngFor="let cus of customerList" value="{{cus.id}}">
              {{ cus.firstname+" "+cus.lastname }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Direcciones</label>
          <select formControlName="address" name="address" class="form-control">
            <option value="none">--- Seleccione una Direccion ---</option>
            <option *ngFor="let addr of addressesList" value="{{addr.id}}" >
              {{ addr.address }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Estatus</label>
          <select formControlName="status" name="status" class="form-control">
            <option *ngFor="let st of _sS.statusList; let i=index" value="{{i+1}}" >
              {{ st }}
            </option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label>Notas</label>
        <textarea formControlName="notes" name="notes" class="form-control"></textarea>
      </div>

      <div class="row justify-content-md-center" *ngIf="!id">
        <button mat-raised-button (click)="saveInvoice()" class="blue-button">
          Guardar
        </button>
      </div>

    </form>
  </div>

  <div class="col card-section">
    <div class="card-title">
      <h1 mat-dialog-title>
        Productos de la factura
      </h1>
    </div>

    <div class="row" *ngIf="!id" style="margin: 10px 20px 10px 0px;">

      <div class="col-md-6">
        <select class="form-control" [(ngModel)]="selectedProd">
          <option value="none" disabled>--- Seleccione un Producto ---</option>
          <option *ngFor="let prod of productList" value="{{prod.id}}" >
            {{ prod.name }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <input type="number" class="form-control" id="amount" [(ngModel)]="amountProd" min="0">
      </div>

      <div class="col-md-3">
        <button mat-raised-button (click)="addProduct()" class="teal-button">
          Agregar
        </button>
      </div>

    </div>

    <div class="row justify-content-md-center">
      <h4>Total: {{totalInvoice | currency }} </h4>
    </div>

    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>

          <th class="text-right" *ngIf="!id">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="common" align="center" style="height: 100px;" *ngIf="products.length == 0">
          <td colspan="8">No se han agregado productos a la factura</td>
        </tr>

        <tr *ngFor="let prod of products">
          <td>{{ prod.name | titlecase }}</td>
          <td>{{ prod.amount }}</td>
          <td>{{ prod.price | currency }}</td>
          <td>{{ prod.price * prod.amount | currency }}</td>

          <td class="td-actions text-right" *ngIf="!id">
            <button mat-icon-button (click)="removeProduct($event, prod)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
